body {
	background-color: #5cad00;
}
fieldset {
	width: 200px; height: 360px;
	float: left;
	color: #142e25;
	border-color: #142e25;
}
img {
	width: 240px; height: 150px;
}
footer {
	clear: both;
}
#next {
	float: right;
	background-color: red;
	color: #5cad00;
	padding: 0;
}
.artikelnr {
	font-weight: bold;
}
.pris {
	font-weight: bold;
}
table {
	border: 2px solid #142e25;
}
#rad1 {
	background-color: green;
}