.wrapper {
	width: 90%;
}
#rubrik {
	font-size: 0.1em;
	text-indent: -9999px;
}
header img {
	width: 100%;

}
#headermitt {
	padding-top: 25px;
}
nav ul li {
	display: inline;
	margin-right: 20px;
}
#navfieldset {
	background-color: #faddca;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}
#headerfield {
	padding-top: 43px;
}
footer {
	border: 2px solid #faddca;
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
#copyright {
	text-align: center;
	padding-top: 65px;
}
footer img {
	width: 100%;
}
.soclogos {
	margin-top: 5px;
}
#karta {
	border-radius: 15px;
}
/*-------------------------*/
#vagnpil {
	width: 120px;
}
.vagnfieldset {
	display: inline;
	border: 1px solid #f99209;
	border-radius: 15px;
	margin-right: 10px;
	padding-top: 8px;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}
table td {
	padding-right: 40px;
}
.antalmat {
	width: 30px;
}
#rate {
	width: 100%;
	margin-left: 75px;
	/*padding-bottom: 20px*/;
}
aside {
	border:1px solid #f99209;
	margin-top: 
}
figure img {
	width: 100%;
	border-radius: 15px;
}