header img {
	width: 100%;

}
nav ul li {
	display: inline;
	margin-right: 25px;

}
#navfieldset {
	background-color: #faddca;
	border-radius: 15px;
	padding: 8px;
	text-align: center;
}


footer {
	border: 2px solid #faddca;
	padding-top: 15px;
	padding-bottom: 15px;
}
#copyright {
	text-align: center;
}
footer img {
	width: 100%;
}