.wrapper {
	padding-top: 10px;
	width: 90%;
}
header img {
	width: 100%;

}
#headermitt {
	padding-top: 25px;
}
nav ul li {
	display: inline;
	margin-right: 20px;
}
#navfieldset {
	background-color: #faddca;
	border-radius: 15px;
	padding: 10px;
	text-align: center;
}
#headerfield {
	padding-top: 43px;
}

footer {
	border: 2px solid #faddca;
	padding-top: 15px;
	padding-bottom: 15px;
}
#copyright {
	text-align: center;
	padding-top: 65px;
}
footer img {
	width: 100%;
}
.soclogos {
	margin-top: 5px;
}
#karta {
	border-radius: 15px;
}